# Exercise 3.10

(7% Investment Return) Reimplement Exercise 2.12 to use a loop that calculates  and displays the amount of money youâ€™ll have each year at the ends of years 1 through 30.

In [26]:
p=1000
r=.07
t=0
n=[]
i=0
# loop that will go through all 30 years.
for b in range(30):
    t=1+t
    n.append(t)
    a=int(p*(1+r)**n[i])
    print( '$',a,'is the amount of money on deposit after',n[i],'years')
    if n[i]==30:
        break
    else:
        i=1+i

$ 1070 is the amount of money on deposit after 1 years
$ 1144 is the amount of money on deposit after 2 years
$ 1225 is the amount of money on deposit after 3 years
$ 1310 is the amount of money on deposit after 4 years
$ 1402 is the amount of money on deposit after 5 years
$ 1500 is the amount of money on deposit after 6 years
$ 1605 is the amount of money on deposit after 7 years
$ 1718 is the amount of money on deposit after 8 years
$ 1838 is the amount of money on deposit after 9 years
$ 1967 is the amount of money on deposit after 10 years
$ 2104 is the amount of money on deposit after 11 years
$ 2252 is the amount of money on deposit after 12 years
$ 2409 is the amount of money on deposit after 13 years
$ 2578 is the amount of money on deposit after 14 years
$ 2759 is the amount of money on deposit after 15 years
$ 2952 is the amount of money on deposit after 16 years
$ 3158 is the amount of money on deposit after 17 years
$ 3379 is the amount of money on deposit after 18 years
$ 3616 is the amount of money on deposit after 19 years
$ 3869 is the amount of money on deposit after 20 years
$ 4140 is the amount of money on deposit after 21 years
$ 4430 is the amount of money on deposit after 22 years
$ 4740 is the amount of money on deposit after 23 years
$ 5072 is the amount of money on deposit after 24 years
$ 5427 is the amount of money on deposit after 25 years
$ 5807 is the amount of money on deposit after 26 years
$ 6213 is the amount of money on deposit after 27 years
$ 6648 is the amount of money on deposit after 28 years
$ 7114 is the amount of money on deposit after 29 years
$ 7612 is the amount of money on deposit after 30 years