 # Exercise 9.4

(Class Average: Reading Student Records from a CSV File) Use the csv module to  read the grades.csv file from the previous exercise. Display the data in tabular format.

In [5]:
import pandas as pd


data=pd.read_csv(r"grades.csv")
data

  first name last name  exam 1  exam 2  exam 3
0         cj         h      44      77      99
1        bob         c      88      99      44